* {
    margin: 0;
    padding: 0;
}

body {
    background: #ece6e6;
}

.wrapper {
    width: 480px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

.timer  {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 10px #747474;
    text-align: center;
}

.timer__display {
    margin: 20px;
    font-size: 50px;
    font: 50px Arial, "sans serif";
}


.timer__button {
    width: 25%;
    margin: 5px 1px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #94cdfd;
}